mat-form-field{
  height: 10px;
  margin: 5px 0 15px 0;
  width: 100%;

}
mat-card{
  margin: 40px;
  background-color: rgba(239, 241, 250, 0.63);
}
#regButton{
  margin-top: 20px;
  margin-bottom: 15px;
}
#mainDiv{
  width: 100%;
}
img{
  margin-left: 25px;
}
